{% extends "bbs/base.html" %}

{% block title %}
    灌水
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/weibo.css">
    <link rel="stylesheet" href="/static/css/alertify.core.css">
    <link rel="stylesheet" href="/static/css/alertify.default.css">
{% endblock %}
{% block script %}
    <script src="/static/js/alertify.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/weibo.js"></script>
{% endblock %}
{% block main %}
<div class="weibo-main wrapper">
    <div class="weibo-leftbar"></div>
    <div class="weibo-rightbar">
        <div class="height-50"></div>
        <div class="weibo-wrapper">
            您现在所在的位置是
            <strong>小型微博</strong>
            <br>
            <a href="{{ url_for('bbs_content.draft_show')}}">&nbsp;&nbsp;&nbsp;点击此处</a>
            <br>
            发表主题文章
        </div>
    </div>
    <div class="weibo-main-content">
        <div class="weibo-publish-form weibo-wrapper">
            <p class="weibo-edit-p">Come on! 水起来</p>
            <div class="weibo-edit-form">
                <textarea class="textarea-weibo" placeholder="长度不应小于1"></textarea>
                <button class="btn-weibo-add" type="submit">发&nbsp;&nbsp;&nbsp;布</button>
            </div>
        </div>
        <div class="height-100"></div>
        <div class="weibo-list weibo-wrapper">
        {% for w in weibos %}
            <div class="weibo-container border-top">
                <div class="weibo-cell">
                    <div class="user-avatar">
                        <img src="{{ w.author.avatar_url }}">
                    </div>
                    <div class="weibo-body">
                        <div class="weibo-username">
                            <strong>{{ w.author.username }}</strong>
                        </div>
                        <div class="weibo-content-body">{{ w.body }}</div>
                        <div class="weibo-time fl-l">发布于&nbsp;:&nbsp;{{ w.get_create_time() }}</div>
                        <div class="weibo-comment-info">
                            <span>现有评论</span>
                            <span class="weibo-comment-num">{{ w.comment.count() }}</span>
                        </div>
                    </div>
                    <div class="weibo-bottom">
                        {% if u.id == w.author_id %}
                        <button class="btn-weibo-delete" data-id="{{ w.id }}">删&nbsp;&nbsp;除</button>
                        {% endif %}
                        <button class="btn-weibo-comment-expand">展开评论</button>
                    </div>
                </div>
                <div class="height-40"></div>
                <div class="weibo-comment-cell hide">
                    {% for c in w.comment %}
                    <div class="height-40"></div>
                    <div class="weibo-comment">
                        <div class="weibo-main-comment">
                            <div class="user-avatar">
                                <img src="{{ c.author.avatar_url }}">
                            </div>
                            <div class="weibo-body">
                                <div class="weibo-username">
                                    <strong>{{ c.author.username }}</strong>
                                    <span>&nbsp;评论</span>
                                </div>
                                <div class="weibo-content-body comment">{{ c.body }}</div>
                                <div class="weibo-time fl-l comment-create-time">发布于&nbsp;:&nbsp;{{ c.get_create_time() }}</div>
                                <div class="weibo-time fl-r comment-update-time">更新于&nbsp;:&nbsp;{{ c.get_update_time() }}</div>
                            </div>
                        {% if u.id == c.author_id %}
                            <div class="weibo-bottom">
                                <button class="btn-weibo-comment-delete" data-id="{{ c.id }}">删除</button>
                                <button class="btn-weibo-comment-edit">更新</button>
                            </div>
                        </div>
                        <div class="weibo-comment-update-cell weibo-edit-form hide">
                            <div class="height-40"></div>
                            <textarea name="comment-update" class="comment-update left mid" placeholder="更新评论，评论长度不应小于1"></textarea>
                            <button class="btn-comment-update" data-id="{{ c.id }}">确认更新</button>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="weibo-edit-form">
                        <div class="height-50"></div>
                        <textarea name="comment-add" class="comment-add left mid" placeholder="发表评论，评论长度不应小于1"></textarea>
                        <button class="btn-weibo-comment-add" data-id="{{ w.id }}">发表评论</button>
                    </div>
                </div>
                <div class="height-40"></div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
