{% extends "blog/base.html" %}

{% block title %}
    技术博客
{% endblock %}
{% block script %}
    <script>
    var bindPreviewButton = function(){
        $('#id-preview').on("click",function(){
            var tag = $(".edit-content");
            log('this', this, 'tag', tag)
            var result = $("#box")
            var raw = tag.val();
            var data = marked(raw);
            var template = function(data){
                var t =
                `
                <div class="markdown-body">${data}</div>
                `
                return t;
            }
            result.html(template(data));
        })
    }
    $(document).ready(function(){
        pageDrag();
        renderMarkDown();
        bindPreviewButton();
    })
    </script>
{% endblock %}
{% block content %}
    <li class="col per-width">
        <div class="scroll">
            <form action="{{ url_for('.draft_add') }}" method="post">
                <textarea name="title" class="edit-title"></textarea>
                <textarea name="content" class="edit-content"></textarea>
                <textarea name="cate" class="edit-category"></textarea>
		<textarea name="tag"></textarea>
                <button>add-draft</button>
            </form>
            <button id="id-preview">preview</button>
        </div>
    </li>
    <li class="col per-width">
        <div class="scroll">
            <div id="box"></div>
        </div>
    </li>
{% endblock %}
