{% extends "bbs/base.html" %}

{% block title %}
    技术博客
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/bbs_content.css">
{% endblock %}
{% block script %}
    
    <script>
        $(document).ready(function(){
            renderMarkDown();
        })
    </script>
{% endblock %}
{% block main %}
<div class="content-main wrapper">
    <div class="content-leftbar"></div>
    <div class="content-rightbar">
        <div class="height-50"></div>
        <div class="content-wrapper">
            您现在所在的位置是
            <strong>{{ node.name }}</strong>
            <br>
            <a href="{{ url_for('bbs_content.draft_show')}}">&nbsp;&nbsp;&nbsp;点击此处</a>
            <br>
            发表主题文章
        </div>
    </div>
    <div class="content-main-content">
        <div class="content-list content-wrapper">
            {% for content in contents %}
            <div class="content-container border-top">
                <div class="content-cell">
                    <div class="user-avatar">
                        <img src="{{ content.author.avatar_url}}">
                    </div>
                    <div class="content-body">
                        <div class="content-username">
                            <strong>{{ content.author.username }}</strong>
                        </div>
                         <div class="content-comment-info">
                            <span class="content-comment-num">
                                <a href="#">{{ content.comment.count() }}</a>
                            </span>
                        </div>
                        <div class="content-title">
                            <span class="content-title-span">
                                <a href="{{ url_for('.content_get', id=content.id) }}">{{ content.title }}</a>
                            </span>
                        </div>
                        <div class="content-description">
                            {% for tag in content.tags %}
                                 <div class="content-tag-decorate">
                                    <a href="#">{{ tag.name }}</a>
                                </div>
                            {% endfor %}
                            <div class="content-time fl-r">
                                发表于&nbsp;:&nbsp;{{ content.get_create_time() }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>   
{% endblock %}