{% extends "bbs/base.html" %}

{% block title %}
    Just for fun!
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            renderMarkDown();
        })
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/bbs_content.css">
{% endblock %}
{% block main %}
<div class="content-main wrapper">
    <div class="content-leftbar"></div>
    <div class="content-rightbar">
        <div class="height-50"></div>
        <div class="content-wrapper">
            您现在所在的位置是
            <strong>{{ content.node.name }}</strong>
            <br>
	{% if u %}
            <a href="{{ url_for('bbs_content.draft_show')}}">&nbsp;&nbsp;&nbsp;点击此处</a>
            <br>
            发表主题文章
	{% endif %}
        </div>
    </div>
    <div class="content-main-content">
        <div class="content-wrapper">
            <div class="content-container border-top">
                <div class="content-cell">
                    <div class="user-avatar">
                        <img src="{{ content.author.avatar_url}}">
                    </div>
                    <div class="content-box">
                        <div class="content-username">
                            <strong>{{ content.author.username }}</strong>
                            &nbsp;&nbsp;题主
                        </div>
                        <div class="content-title">
                            <span class="content-title-span box-title">
                                <a href="{{ url_for('.content_get', id=content.id) }}">{{ content.title }}</a>
                            </span>
                        </div>
                        <div class="content-body">
                            <div class="markdown-body">{{ content.content }}
                            </div>
                        </div>
                        <div class="content-description">
                            {% for tag in content.tags %}
                                 <div class="content-tag-decorate">
                                    <a href="#">{{ tag.name }}</a>
                                </div>
                            {% endfor %}
                            <div class="content-time fl-r">
                                发表于&nbsp;:&nbsp;{{ content.get_create_time() }}
                            </div>
                        </div>
                    </div>
                    <div class="height-50"></div>
                    <div class="comment-box border-top">
                        {% for c in content.comment %}
                        <div class="comment-cell border-top">
                            <div class="user-avatar">
				<img src="{{ content.author.avatar_url}}">
                            </div>
                            <div class="content-body">
                                <div class="content-username">
                                    <strong>{{ c.author.username }}</strong>
                                    <span> &nbsp;&nbsp;评论</span>
                                </div>
                                <div class="weibo-content-body comment">{{ c.comment }}</div>
                                <div class="content-time fl-r">
                                发表于&nbsp;:&nbsp;{{ c.get_create_time() }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="height-50"></div>
	{% if u %}
        <div class="content-edit-form border-top">
            <form action="{{  url_for('.add_comment')}}" method="post">
                <p>您可以在这里发表你的评论</p>
                <textarea name="comment" class="" placeholder="发表评论，评论长度不应小于1"></textarea>
                <input value="{{ content.id}}" name="content_id" type="hidden">
                <button class="btn-comment-add">发表评论</button>
            </form>
        </div>
	{% endif %}
    </div>
</div>
{% endblock %}
