{% extends "bbs/base.html" %}

{% block title %}
    技术博客
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/bbs_content.css">
{% endblock %}
{% block script %}
    <script>
    var bindPreviewButton = function(){
        $('#id-preview').on("click",function(){
            var tag = $(".edit-content");
            var result = $("#box")
            var raw = tag.val();
            var data = marked(raw);
            var template = function(data){
                var t =
                `
                <div class="markdown-body">${data}</div>
                `
                return t;
            }
            result.html(template(data));
        })
    }
    $(document).ready(function(){
        renderMarkDown();
        bindPreviewButton();
    })
    </script>
{% endblock %}

{% block main %}
<div class="content-main wrapper">
    <div class="content-main-content">
        <div class="content-wrapper">
            <form action="{{ url_for('.draft_add') }}" method="post">
                <div class="indicate">标题处</div>
                <textarea class="content-title-edit" name="title" placeholder="title" required></textarea>
                <div class="indicate">文章处, 支持Markdown语法,亦可预览</div>
                <textarea class="edit-content" name="content" placeholder="content" required></textarea>
                <div class="indicate">类别&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标签,可多选</div>
                <select name="node">
                    <option></option>
                    {% for node in nodes %}
                    <option value="{{ node.name }}">{{ node.name }}</option>
                    {% endfor %}
                </select>
                <select name="tag1">
                    <option></option>
                    {% for tag in tags %}
                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                <select name="tag2">
                    <option></option>
                    {% for tag in tags %}
                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                <div class="preview">
                    <button type="button" id="id-preview" class="fl-r">预览</button>
                </div>
                <button type="submit">添加文章</button>
            </form>
        </div>
        <div class="height-200"></div>
        <div id="box"></div>
    </div>
</div>
{% endblock %}