<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forfun's Blog</title>
</head>
<body>
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    <form action="/user/profile/change" method="post">
        <input name="profile">
        <button>修改</button>
</body>
</html>